# Eclipse
.classpath
.project
.settings/

# VS Code
.vscode
 
# Intellij
.idea/
*.iml
*.iws
 
# Mac
.DS_Store
 
# Maven
target/

# Misc
**/bin
.cookiecutter_working_folder/

# Ignore these kind of files on all folders, some editors seem to be too eager and create
# these files/folders
**/.factorypath
**/.classpath
**/.project
**/target

# App logs should be ignored
**/logs

# Specific to this project
generated/
