# Eclipse
.classpath
.project
.settings/

# VS Code
.vscode
 
# Intellij
.idea/
*.iml
*.iws
 
# Mac
.DS_Store
 
# Maven
log/
target/

# Misc
bin/
.cookiecutter_working_folder/
**/.factorypath

# Specific to this project
generated/
