# Use this file as a template to create your own developer.properties
# Note: Git has been configured to ignore developer.properties to avoid accidentally pushing files with sensitive data.
# Do not write passwords or other sensitive data in this file.

# openBIS
datasource.user = ...
datasource.url = ...
datasource.api.url = ...
datasource.password = ...

# Folders
tmp.folder = ...

# Barcodes
barcode.scripts = ...
path.variable = ...
barcode.postscript = ...
barcode.results = ...

# workflows 
guse_remoteapi_url = ...
guse_remoteapi_password = ...
path_to_guse_workflows = ...
path_to_certificate = ...
path_to_wf_config = ...
path_to_dropboxes = ...

# references
path_to_reference_config = ...

# attachments
max.attachment.size = 10
attachment.uri = ...
attachment.user = ...
attachment.password = ...

# external user DB
mysql.host = ...
mysql.db = ...
mysql.user = ...
mysql.port = 3306
mysql.pass = ...

# Groups with different access levels to the db input portlet
mysql.input.usergrp = ...
mysql.input.admingrp = ...

# Group that can overwrite (their own projects) metadata in the wizard
metadata.write.group = ...

# wizard stuff (for now)
vocabulary.ms.labeling = ...

# allow portlets to configure whether unauthenticated users can see content
access.unauthenticated.sampleproperty = true

# path of the yaml file containing statistics for statistics-portlet
statistics.file.path = ...
